@charset "UTF-8";

/* artlist.jap */
.cal_header_div{
	background-color: #343a40;
    height: 60px;
}
.list{
	width: 800px;
	height: 100px;
	margin: 5px auto;

	padding: 8px;
	border: 1px solid #bcbcbc;
}
.perdate {
	width: 90px;
    height: 85px;
	float: left;
	text-align: center;
	border: 1px solid #bcbcbc;
	padding: unset;
}
.media {
	width : 80%;
	height : auto;
	float: right;
	border: 0px solid #bcbcbc;
}
.media-body {
    margin-left: 15px;
}
#pfIntroduceTitle {
    background-color: #343a40;
    color: white;
}
#pfIntroduceContent {
    background-color: #343a40;
    color: white;
}
.tit {
	color: #343a40;
}


#carouselExampleFade img {
	width: 500px;
	height: 130px;
}
.h2 {
	margin-top: 15px;
}
.inputin {
    margin: 10px;
    background: #343a40;
    width: 100px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    color: white;
}
.inputbt {
    width: 60px;
    height: 25px;
    background: #343a40;
    color: white;
    border: #343a40;
    margin-top: -18px;
}
.goto {
	font-size: 18px;
	margin-bottom: 1px; 
	color: white;
}
.btnwritee{
	background: #343a40;
	color: white;
	border: #343a40;
	height: 40px;
    width: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}
.b {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 3px;
}
.cate {
    width: 90px;
}
.fottercol {
	color: white;
}

.bbc {
	background-color: #343a40 ;
	color: white ;
}
.logt{
    width: 205px;
    margin-bottom: 5px;
    margin-top: 3px;
}




/* --------------- artView.jap ------------------------------------------*/

#view_head{
	background-color: #343a40;
	border: 1px solid black;
	max-width: 95%;
	height: 45px;
	text-align: center;
	color: white;
	padding: 6px;
}
#writer_head{
	background-color: #343a40;
	border: 1px solid black;
	max-width: 95%;
	height: 45px;
	color: white;
	padding: 6px;
	font-size: 25px;
}
.con_left{
	width: 68%;
	border: 1px solid black;
	float: left;
}
.con_right{
	width: 32%;
	border: 1px solid black;
	float: right;
}
#view_writer{
	border: 1px solid black;
	max-width: 95%;
    height: 35px;
	padding: 6px;

}
#view_content{
	border: 1px solid black;
	max-width: 95%;
	height: auto;
}
#writer_nick{
	width:30%;
	float: left;
}

#viewcount{
	width: 20%;
	float:right;
}
#write_date{
	width: 30%;
	float:right;
}

#view_buttonarea{
	max-width: 95%;
	text-align: right;
}
#writer_title{
	background-color: #343a40;
	color : white;
}
#writer_photo{
    width: 100px;
    height: 100px;
	float:left;
}
#profileImg{
	width:98px;
	height:98px;
	display: block;
	margin: 0 auto;
}

#writer_info{
    width: 150px;
    height: 100px;
	float:right;
	padding: 10px;
	text-align: center;
}

#reply_head{
	background-color: #343a40;
	border: 1px solid black;
	max-width: 95%;
	height: 45px;
	color: white;
	padding: 6px;
	font-size: 25px;
}

#reply_date{
	width: 20%;
	float:right;
}
#view_recontents{
	border: 1px solid black;
	max-width: 95%;
    height: 80px;
	padding: 6px;
/*     overflow: scroll; */
}
#recontents{
	float: left;
	width: 680px;
    height: auto;
}

#rereplyBtn {
	margin-top: 15px;
    margin-right: 10px;
}
#deleteReplyBtn{
	margin-top: 15px;
    
	
}

#replyinputheader{
	background-color: #343a40;
	border: 1px solid black;
	max-width: 95%;
	height: 45px;
	color: white;
	padding: 6px;
	font-size: 25px;
}
#replyinputbody{
	border: 1px solid black;
	max-width: 95%;
    height: 80px;
	padding: 6px;
}
#btnrereplyInsert {
	margin-top: 10px;
}

