<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스3 Mapper DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mypage.dao.face.MyPageDao">
	
	<select id="selectUserAll" parameterType="user.dto.User_table" resultType="user.dto.User_table" >
		SELECT * FROM User_table
		WHERE userno = #{userno }	
	</select>
	
	<update id="updateUserInfo" parameterType="user.dto.User_table">
		UPDATE User_table 
		SET usernick = #{usernick }, userphone = #{userphone }
		WHERE userno = #{userno }
	</update>
	
	<select id="selectByUserPw" parameterType="user.dto.User_table" resultType="user.dto.User_table">
		SELECT * FROM User_table
		WHERE userno = #{userno } AND userid = #{userid }
	</select>
	
	<select id="selectCntByUserPw" parameterType="user.dto.User_table" resultType="int">
		SELECT count(*)
		FROM User_table
		WHERE userno = #{userno } AND userpw = #{userpw }
	</select>
	
	<update id="updatePassword" parameterType="user.dto.User_table">
		UPDATE User_table 
		SET userpw = #{userpw }
		WHERE userid = #{userid }
	</update>
	
	<select id="selectComparedPw" parameterType="user.dto.User_table" resultType="int">
		SELECT count(*)
		FROM User_table
		WHERE userno = #{userno } AND userpw = #{userpw }
	</select>
	
	<select id="selectUserNick" parameterType="String" resultType="int">
		SELECT count(*)
		FROM User_table
		WHERE usernick = #{usernick }
	</select>
	
	<delete id="deleteUserId" parameterType="user.dto.User_table">
		DELETE FROM User_table
		WHERE userid = #{userid }
	</delete>

</mapper>