<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alram.dao.face.AlramDao">
	<!-- 유저번호 가져오기 -->
	<select id="selectUserNo"
    	parameterType="String" resultType="int">
	    SELECT userno FROM user_table
	    WHERE 1=1
	   	AND usernick = #{usernick}
	 </select>
	 
	 <!-- 알람 갯수 얻기 -->
	<select id="selectAlramCnt"
    	parameterType="int" resultType="int">
	    SELECT count(*) FROM alram
	    WHERE 1=1
	   	AND userno = #{userno}
	   	AND alramcheck = 0
	 </select>
	 <!-- 알람 읽음 여부 1로 업데이트 -->
	 <update id="updateAlramCheck"
		 parameterType="alram.dto.Alram">
		UPDATE alram SET alramcheck = 1
		WHERE 1=1
		AND alramno = #{alramno}
	</update>
	
	<!-- 알람 리스트 가져오기 -->
	<select id="selectAlramList" resultType="alram.dto.Alram" parameterType="int">
		select A.*, U.usernick, B.title from alram A, user_table U, board B
		WHERE U.userno = A.userno
		AND A.boardno = B.boardno
		AND A.userno = #{userno}
		order by alramno desc
	</select>
</mapper>