<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Configuration DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="artboard.dao.face.FollowDao">
	<insert id="insertFollow" parameterType="artboard.dto.Board">
		INSERT INTO follow
		VALUES(follow_seq.nextval, #{userno}, #{target_userno})
	</insert>  
	
	<delete id="deleteFollow" parameterType="artboard.dto.Board">
		DELETE follow
		WHERE 1=1
		AND userno = #{userno}
		AND boardno = #{target_userno }
	</delete>
	
	<select id="selectFollowView" resultType="int"
		parameterType="artboard.dto.Board">
		SELECT COUNT(*) FROM follow
		WHERE target_userno = #{target_userno}
	</select>
	
	<select id="selectFollow" resultType="int"
		parameterType="artboard.dto.Board">
		SELECT count(*) FROM follow
		WHERE userno = #{userno}
		AND
		target_userno = #{target_userno }
	</select>
  </mapper>