<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Configuration DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="artboard.dao.face.PFBoardDao">

	<select id="selectAll3" parameterType="String"
		resultType="artboard.dto.Board">
		<![CDATA[ 
		SELECT
		B.boardno, B.title, B.writtendate
		, B.contents
		, B.views, B.userno, b.postno
		, p.performno, p.performname, p.performdate, p.writepermit,
		p.updatepermit, p.deletepermit
		FROM board B, perform_add P
		WHERE B.boardno = P.boardno
		AND substr(p.performdate, 1, 7) =
		#{searchMonth }
		ORDER BY
		(
		SELECT performdate FROM perform_add PA
		WHERE pa.performno = p.performno
		AND performdate >= to_char(sysdate, 'yyyy-mm-dd')
		)
		,
		(
		SELECT performdate FROM perform_add PA
		WHERE pa.performno = p.performno
		AND performdate < to_char(sysdate, 'yyyy-mm-dd')
		)
		, boardno
		]]>
	</select>

	<select id="selectAll2" parameterType="String"
		resultType="artboard.dto.Board">
		SELECT
		b.boardno, b.title, b.writtendate, b.contents,
		b.views, b.userno, b.postno,
		p.performno, p.performname, p.performdate
		FROM board b, perform_add p
		WHERE b.boardno = p.boardno
		AND
		substr(p.performdate, 1, 6) =
		#{searchMonth }
		AND b.postno = 1
		ORDER BY
		p.performdate DESC
	</select>


	<select id="selectAll" parameterType="util.Paging"
		resultType="artboard.dto.Board">
		SELECT * FROM (SELECT rownum rnum, B.* FROM (
		SELECT
		b.boardno, b.title, b.writtendate, b.contents, b.views, b.userno,
		b.postno, p.performno, p.performname, p.performdate FROM
		board b,
		perform_add p
		WHERE b.boardno = p.boardno
		ORDER BY boardno DESC ) B
		ORDER BY rnum ) BOARD
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>

	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM board
		ORDER BY boardno
	</select>

	<select id="view" parameterType="artboard.dto.Board"
		resultType="artboard.dto.Board">
		SELECT b.boardno, b.title, b.writtendate, b.contents,
		b.views, b.userno, b.postno, p.performno, p.performname, p.performdate
		FROM
		board b, perform_add p
		WHERE b.boardno = p.boardno
		AND b.boardno =
		#{boardno}

	</select>

	<select id="selectWriter" parameterType="artboard.dto.Board"
		resultType="artboard.dto.Board">
		SELECT * FROM user_table
		WHERE userno = #{userno}
	</select>

	<insert id="insertBoard" parameterType="artboard.dto.Board">
		INSERT INTO board
		(boardno, title, writtendate, contents, views, userno, postno)
		VALUES
		(#{boardno}, #{title}, sysdate, #{contents}, 0, #{userno}, 1)
	</insert>

	<insert id="insertPerform" parameterType="artboard.dto.Board">
		INSERT INTO perform_add
		(performno,performname, performdate,boardno)
		VALUES
		(perform_add_seq.nextval,#{performname},#{performdate},#{boardno})
	</insert>

	<select id="selectSeqNextval" resultType="int">
		SELECT
		board_seq.nextval FROM dual
	</select>

	<select id="selectUserByNo" parameterType="artboard.dto.Board"
		resultType="artboard.dto.Board">
		SELECT * FROM user_table
		WHERE userno = #{userno}
	</select>

	<update id="updateViews" parameterType="artboard.dto.Board">
		UPDATE board SET views =
		views+1
		WHERE boardno = #{boardno}
	</update>

	<select id="selectUsernoByUsernick"
		parameterType="artboard.dto.Board" resultType="int">
		SELECT userno FROM
		user_table
		WHERE usernick = #{usernick}
	</select>

	<select id="selectNoForDonation"
		parameterType="artboard.dto.Donation" resultType="int">
		SELECT userno FROM
		user_table
		WHERE usernick = #{usernick}
	</select>

	<insert id="insertDonation"
		parameterType="artboard.dto.Donation">
		INSERT INTO donation
		VALUES
		(donation_seq.nextval,#{donprice},#{userno},#{boardno})
	</insert>

	<select id="selectPfCnt" resultType="int"
		parameterType="artboard.dto.Board">
		SELECT count(*) FROM board
		WHERE postno = 1
	</select>


	<insert id="insertFile" parameterType="artboard.dto.PFUpFile">
		<selectKey order="BEFORE" resultType="int"
			keyProperty="fileno">
			SELECT upfile_seq.nextval FROM dual
		</selectKey>
		INSERT INTO upfile
		VALUES ( #{fileno}, #{originname }, #{storedname },
		#{filesize }, #{boardno} )
	</insert>

	<select id="selectFileList" resultType="artboard.dto.PFUpFile"
		parameterType="int">
		SELECT fileno, originname, storedname, filesize, boardno
		FROM upfile
		WHERE boardno = ${value}
		ORDER BY fileno
	</select>

	<select id="selectFileByFileno"
		resultType="artboard.dto.PFUpFile" parameterType="int">
		SELECT fileno,
		originname, storedname, filesize, boardno FROM upfile
		WHERE fileno =
		#{fileno}
	</select>



	<select id="selectRecommend" resultType="int"
		parameterType="artboard.dto.Board">
		SELECT count(*) FROM blike
		WHERE userno = #{userno}
		AND
		boardno = #{boardno }
	</select>

	<insert id="insertRecommend" parameterType="artboard.dto.Board">
		INSERT INTO blike
		VALUES(blike_seq.nextval, #{userno}, #{boardno})
	</insert>

	<delete id="deleteRecommend" parameterType="artboard.dto.Board">
		DELETE blike
		WHERE 1=1
		AND userno = #{userno}
		AND boardno = #{boardno }
	</delete>

	<select id="selectrecommendView" resultType="int"
		parameterType="artboard.dto.Board">
		SELECT COUNT(*) FROM blike
		WHERE boardno = #{boardno}
	</select>


	<select id="selectGroupNo" parameterType="artboard.dto.Reply"
		resultType="int">
		SELECT groupno FROM reply
		WHERE 1=1
		AND replyno = #{replyno}
	</select>

	<select id="selectReReplyList" resultType="artboard.dto.Reply"
		parameterType="int">
		select R.*, U.usernick from reply R, user_table U
		WHERE
		R.userno = U.userno
		AND groupno = #{groupno}
		AND replyorder != 0
		ORDER BY
		replyorder DESC
	</select>

	<select id="selectREreplyCnt" resultType="int"
		parameterType="int">
		SELECT count(*) FROM reply WHERE groupno = #{groupno}
		AND replyorder != 0
	</select>

	<select id="selectUserNoToReply" parameterType="String"
		resultType="artboard.dto.Reply">
		SELECT userno FROM user_table
		WHERE 1=1
		AND usernick =
		#{usernick}
	</select>

	<select id="selectMaxReplyOrder"
		parameterType="artboard.dto.Reply" resultType="int">
		SELECT max(replyorder) FROM reply
		WHERE 1=1
		AND groupno = #{groupno}
	</select>
	
	<insert id="insertReReply"
	 	parameterType="artboard.dto.Reply">
		INSERT INTO reply 
		VALUES(reply_seq.nextval, #{groupno}, #{maxreplyorder}, 2, #{recontents}, TO_CHAR(SYSDATE, 'YYYY.MM.DD HH24:MI:SS'), #{userno}, #{boardno})
	</insert>


	<update id="updatePF"
	 parameterType="artboard.dto.Board">
		UPDATE board set title = #{title}, contents = #{contents}
		WHERE 1=1
			AND boardno = #{boardno}
	</update>
	
	<update id="updatePFAdd"
	 parameterType="artboard.dto.Board">
		UPDATE perform_add SET performname = #{performname}, performdate = #{performdate}
		WHERE 1=1
			AND boardno = #{boardno}
	</update>
	
	<delete id="deleteFile"
	 parameterType="int">
		DELETE upfile
		WHERE 1=1
			AND boardno = #{boardno }
	</delete>
	
	<update id="updatePFbyDelete"
		parameterType="artboard.dto.Board">
		UPDATE board SET  contents = '이 일정은 취소되었습니다.', userno = null
		WHERE 1=1
			AND boardno = #{boardno}	
	</update>
	
	
	<update id="updateReplyByNo"
		 parameterType="artboard.dto.Reply">
		UPDATE reply SET recontents = #{recontents}
		WHERE 1=1
			AND replyno = #{replyno}
	</update>	
</mapper>