<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Configuration DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="artboard.dao.face.PFBoardDao">

	<select id="selectAll2" parameterType="String"
		resultType="artboard.dto.Board">
		SELECT
			b.boardno, b.title, b.writtendate, b.contents, b.views, b.userno, b.postno, p.performno, p.performname, p.performdate
		FROM board b, perform_add p
		WHERE b.boardno = p.boardno
		AND substr(p.performdate, 1, 6) = #{searchMonth }
		AND b.postno = 1
		ORDER BY boardno DESC 
	</select>


	<select id="selectAll" parameterType="util.Paging"
		resultType="artboard.dto.Board">
		SELECT * FROM (SELECT rownum rnum, B.* FROM (
		SELECT
		b.boardno, b.title, b.writtendate, b.contents, b.views, b.userno, b.postno, p.performno, p.performname, p.performdate FROM
		board b, perform_add p
		WHERE b.boardno = p.boardno
		ORDER BY boardno DESC ) B
		ORDER BY rnum ) BOARD
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>

	<select id="selectCntAll"  resultType="int">
		SELECT count(*) FROM board ORDER BY boardno
	</select>
	
	<select id="view" parameterType="artboard.dto.Board"
		resultType="artboard.dto.Board">
		SELECT b.boardno, b.title, b.writtendate, b.contents, b.views, b.userno, b.postno, p.performno, p.performname, p.performdate FROM
		board b, perform_add p
		WHERE b.boardno = p.boardno
		AND b.boardno = #{boardno}
	
	</select>
	
	<select id="selectWriter" parameterType="artboard.dto.Board"
		resultType="artboard.dto.Board">
		SELECT * FROM user_table
		WHERE userno = #{userno}
	</select>
	
	<insert id="insertBoard" parameterType="artboard.dto.Board">
		INSERT INTO board (boardno, title, writtendate, contents, views, userno, postno)
		VALUES (#{boardno}, #{title}, sysdate, #{contents}, 0, #{userno}, 1)
	</insert>
	
		<insert id="insertPerform" parameterType="artboard.dto.Board">
		INSERT INTO perform_add (performno,performname, performdate,boardno)
		VALUES (perform_add_seq.nextval,#{performname},#{performdate},#{boardno})
	</insert>
	
	<select id="selectSeqNextval" resultType="int">
		SELECT board_seq.nextval FROM dual
	</select>

</mapper>