<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Configuration DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="artboard.dao.face.ReplyDao">
	
	<insert id="insertReply" parameterType="artboard.dto.Reply">
	
		<selectKey order="BEFORE" resultType="int" keyProperty="replyno">
			SELECT reply_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO reply (replyno, groupno,replyorder,replydepth,recontents,replydate,userno,boardno)
		VALUES(#{replyno}, groupno_seq.nextval,0,1,#{recontents} ,TO_CHAR(SYSDATE, 'YYYY.MM.DD HH24:MI:SS'), #{userno},#{boardno})
	</insert>
	
	<select id="selectReply" parameterType="artboard.dto.Board"
		resultType="artboard.dto.Reply">
		SELECT rownum rnum, B.* FROM (
				SELECT 
					r.replyno, r.groupno, r.replyorder, r.replydepth, r.recontents, r.replydate, r.userno, r.boardno, u.usernick
				FROM reply r, user_table u
				WHERE boardno = #{boardno}
				AND r.userno = u.userno
				AND r.replyorder = 0
				ORDER BY replydate
				) B
		 ORDER BY rnum DESC
	</select>

	<delete id="deleteReply" parameterType="artboard.dto.Reply">
		DELETE reply
		WHERE replyno = #{replyno}
	</delete>

	<select id="countReply" parameterType="artboard.dto.Reply"
		resultType="int">
		SELECT count(*) FROM reply WHERE replyno = #{replyno}
	</select>
	
	
	<insert id="insertRereply" parameterType="artboard.dto.Reply">
		INSERT INTO reply (replyno, groupno,replyorder,replydepth,recontents,replydate,userno,boardno)
		VALUES(reply_seq.nextval,#{groupno} ,#{replyorder}+1 ,2,#{recontents} ,TO_CHAR(SYSDATE, 'YYYY.MM.DD HH24:MI:SS'), #{userno},#{boardno})
	</insert>
	
	<select id="selectReplyList" parameterType="artboard.dto.Reply"
		resultType="artboard.dto.Reply">
		select R.*, U.usernick from reply R, user_table U
		WHERE R.userno = U.userno
		AND boardno = #{boardno}
		AND R.replyorder = 0
		ORDER BY replyno DESC		
	</select>
	
</mapper>