<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user.dao.face.UserDao">
	
	<select id="selectSocialCnt"
	 parameterType="user.dto.User_table" resultType="int">
		SELECT COUNT(*) FROM user_table
		WHERE 1=1
			AND usernick = #{usernick }
			AND sociallogin = 1
	</select>
	
	<insert id="insertNaverLoginInfo"
	 parameterType="user.dto.User_table">
		INSERT into user_table
		VALUES(user_table_seq.nextval, #{userid}, 'naver', #{username}, #{usernick}, 'naver', 
		#{usergender}, 0, 'naver', 5, 0, 0, null, null, 0, 0, 1)
	</insert>
	
	<insert id="insertKakaoLoginInfo"
	 parameterType="user.dto.User_table">
		INSERT into user_table
		VALUES(user_table_seq.nextval, 'kakao', 'kakao', #{username}, #{usernick}, 'kakao', 
		'kakao', 0, 'kakao', 5, 0, 0, null, null, 0, 0, 1)
	</insert>
	
	<insert id="insertGoogleLoginInfo"
	 parameterType="user.dto.User_table">
		INSERT into user_table
		VALUES(user_table_seq.nextval, 'google', 'google', #{username}, #{usernick}, 'google', 
		'google', 0, 'google', 5, 0, 0, null, null, 0, 0, 1)
	</insert>
	
	<!-- 회원가입 -->
	<insert id="insertJoin"
	 parameterType="user.dto.User_table">
		INSERT into user_table (userno, userid, userpw, username, usernick, userphone, usergender, userbirth, interest, usertype, sociallogin)
		VALUES(user_table_seq.nextval, #{userid}, #{userpw}, #{username}, #{usernick}, #{userphone}, #{usergender}, #{userbirth}, #{interest}, #{usertype}, 0)
	 </insert>
	 
	 <!-- 아이디 중복체크 -->
	 <select id="selectCheckId"
	  parameterType="String" resultType="int">
	  	SELECT count(*) from user_table where userid = #{userid}
	 </select>
	 
	 <!-- 닉네임 중복체크 -->
	 <select id="selectCheckNick"
	  parameterType="String" resultType="int">
	  	SELECT count(*) from user_table WHERE usernick = #{usernick}
	  </select>
	  
	  <!-- 로그인 -->
	  <select id="selectCnt"
	   parameterType="user.dto.User_table" resultType="int">
	   	SELECT COUNT(*) FROM user_table
	   	WHERE 1=1
	   		AND userid = #{userid}
	   		AND userpw = #{userpw}
	   </select>
	   
	   <!-- 세선정보(usernick, username, interest, userno) -->
	   <select id="selectUserInfoById"
	    parameterType="user.dto.User_table" resultType="user.dto.User_table">
	     SELECT usernick, username, interest, userno FROM user_table
	     WHERE 1=1
	     	AND userid = #{userid}
	    </select>
	    
	    <!-- 이메일인증 emailCheckKey에 난수 생성하여 넣어주기  -->
	    <update id="updateEmailKey" parameterType="String">
	    	update user_table set emailCheckKey = #{param2} where userid = #{param1}
	    </update>
	
</mapper>