<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="board.dao.face.NoticeBoardDao">
  
  <select id="selectAll" parameterType="util.Paging" resultType="board.dto.FreeBoard">
		SELECT * FROM (
		SELECT rownum rnum, B.*FROM (
		SELECT postno, boardno, title, writtendate, contents, views
		FROM board 
		WHERE postno = 4
		<if test="searchcategory != null and searchcategory != '' and searchtarget != null and searchtarget != ''">
   			 AND ${searchcategory} LIKE '%'||#{searchtarget}||'%'
 		</if>
		ORDER BY boardno DESC
		) B
		ORDER BY rnum
		) BOARD
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectNoticeCnt" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM board 
		WHERE postno = 4
<!-- 		 <if test="searchcategory != null and searchcategory != '' and searchtarget != null and searchtarget != ''"> -->
<!--    			 AND ${searchcategory} LIKE '%'||#{searchtarget}||'%' -->
<!--  		 </if> -->
	</select>
	
	<select id="selectCnt" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM board 
		WHERE postno = 4
		 <if test="searchcategory != null and searchcategory != '' and searchtarget != null and searchtarget != ''">
   			 AND ${searchcategory} LIKE '%'||#{searchtarget}||'%'
 		 </if>
	</select>
	
	<select id="selectnoticeDetail" parameterType="int" resultType="board.dto.FreeBoard">
		SELECT boardno, title, writtendate, contents, views
		FROM board 
		WHERE  boardno = #{boardno }

	</select>
	
	<insert id="insertnoticeBoard" parameterType="board.dto.FreeBoard">
		
		<selectKey order="BEFORE" resultType="int" keyProperty="boardno">
		SELECT board_seq.nextval FROM dual
		</selectKey>
	
		INSERT INTO board ( boardno, title, writtendate, contents, views, userno, postno )
		VALUES ( board_seq.nextval, #{title }, TO_CHAR(sysdate, 'yyyy-mm-dd' ), #{contents }, 0, 0, 4 )
	</insert>
	
	<update id="updateViews" parameterType="int">
		UPDATE board SET views = views + 1 WHERE boardno = #{boardno } 
	</update>
	
	<select id="selectByUserNick" parameterType="object" resultType="board.dto.FreeBoard">
		SELECT * FROM User_table
		WHERE usernick = #{usernick }
	</select>
	
	<select id="selectViewsAll" resultType="board.dto.FreeBoard">
		SELECT * FROM (
		SELECT rownum rnum, B.*FROM (
		SELECT fb.postno, fb.boardno, fb.title, fb.writtendate, fb.contents, fb.views, ut.usernick FROM board fb, user_table ut
		WHERE fb.userno = ut.userno
		AND fb.postno = 4
		ORDER BY fb.views DESC
		) B
		ORDER BY rnum
		) BOARD
		WHERE rnum BETWEEN 1 AND 5
	</select>
  
  </mapper>