<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스3 Mapper DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="admin.dao.face.AdminDao">
	<select id="selectCnt" parameterType="admin.dto.Admin" resultType="int">
		SELECT COUNT(*)
		FROM admin
		WHERE 1=1
		AND adminid = #{adminid }
		AND adminpw = #{adminpw }
	</select>
	
	<select id="selectUserCnt" resultType="int" parameterType="user.dto.User_table">
		SELECT count(*)
		FROM User_table
	</select>
	
	<select id="selectUserList" resultType="user.dto.User_table" parameterType="util.Paging">
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				SELECT userno, usertype, username, userid, usernick, userphone, permit, follow, sociallogin
				FROM user_table
				WHERE userno >=1
				ORDER BY userno
			) B
			ORDER BY rnum
		) BOARD
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<delete id="deleteUser" parameterType="user.dto.User_table">
		DELETE FROM User_table
		WHERE userno = #{userno }
	</delete>

</mapper>