<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="prboard.dao.face.PRBoardDao">


	<resultMap type="prboard.dto.PRBoard" id="PRBoard">
		<result column="contents" property="content"/>
	</resultMap>
	
	<insert id="insertPR"
	 parameterType="prboard.dto.PRBoard">
	 
	 	<selectKey order="BEFORE" resultType="int" keyProperty="boardno">
			SELECT board_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO board 
		VALUES(#{boardno}, #{title}, sysdate, #{content}, 0, #{userno}, 2)
	</insert>

	<!-- 유저번호 가져오기 -->
	<select id="selectUserNoByUserNick"
    	parameterType="String" resultType="int">
	    SELECT userno FROM user_table
	    WHERE 1=1
	   	AND usernick = #{usernick}
	 </select>
	 
	 <insert id="insertPRType"
	 		parameterType="prboard.dto.PRType">
	 	<selectKey order="BEFORE" resultType="int" keyProperty="prno">
			SELECT prtype_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO prtype 
		VALUES(#{prno}, #{prname}, #{boardno})
	</insert>
	
	<insert id="insertFile" parameterType="prboard.dto.UpFile">
		<selectKey order="BEFORE" resultType="int" keyProperty="fileno">
			SELECT upfile_seq.nextval FROM dual
		</selectKey>
		INSERT INTO upfile
		VALUES ( #{fileno}, #{originname }, #{storedname }, #{filesize }, #{boardno} )
	</insert>
	
	<update id="updateWritePrDate"
		 parameterType="int">
		UPDATE user_table SET prwritedate = TO_CHAR(SYSDATE, 'YYYY.MM.DD HH24:MI:SS')
		WHERE 1=1
			AND userno = #{userNo}
	</update>
	
	<select id="selectWriteDate" resultType="String" parameterType="int">
		SELECT prwritedate FROM user_table
		WHERE userno = #{userNo}
	</select>
	
	<select id="selectTimePass" resultType="int" parameterType="String">
		SELECT (TRUNC(SYSDATE, 'MI')-TO_DATE(#{value},'YYYY.MM.DD HH24:MI:SS')) * 1440 as time FROM DUAL
	</select>
	
	<select id="selectCntAll" resultType="int">
		SELECT count(*) from board
		WHERE postno = 2
	</select>
	
	<select id="selectAll" resultMap="PRBoard" parameterType="util.PRPaging">
		SELECT * FROM (
		   SELECT rownum rnum, B.* FROM (
		       SELECT
		            BO.boardno, BO.title, BO.writtendate, BO.contents,
		           BO.views, BO.userno, BO.postno, P.prname, U.usernick
		       FROM board BO, prtype P, user_table U
               WHERE BO.boardno = P.boardno
               AND BO.userno = U.userno
               AND BO.postno = 2
              ORDER BY boardno DESC
		    ) B
		    ORDER BY rnum
		 ) BOARD
		 WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
</mapper>