<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="prboard.dao.face.PRBoardDao">
	
	<insert id="insertPR"
	 parameterType="hashmap">
		INSERT INTO board 
		VALUES(board_seq.nextval, #{title}, sysdate, #{content}, 0, 1, 2)
	</insert>
	
	<insert id="insertFile"
	 parameterType="hashmap">
		INSERT INTO upfile 
		VALUES(upfile_seq.nextval, #{originname}, #{storedname}, #{filesize}, 1)
	</insert>

</mapper>