<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="prboard.dao.face.PRBoardDao">


	<resultMap type="prboard.dto.PRBoard" id="PRBoard">
		<result column="contents" property="content"/>
	</resultMap>
	
	<insert id="insertPR"
	 parameterType="prboard.dto.PRBoard">
	 
	 	<selectKey order="BEFORE" resultType="int" keyProperty="boardno">
			SELECT board_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO board 
		VALUES(#{boardno}, #{title}, sysdate, #{content}, 0, #{userno}, 2)
	</insert>

	<!-- 유저번호 가져오기 -->
	<select id="selectUserNoByUserNick"
    	parameterType="String" resultType="int">
	    SELECT userno FROM user_table
	    WHERE 1=1
	   	AND usernick = #{usernick}
	 </select>
	 
	 <insert id="insertPRType"
	 		parameterType="prboard.dto.PRType">
	 	<selectKey order="BEFORE" resultType="int" keyProperty="prno">
			SELECT prtype_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO prtype 
		VALUES(#{prno}, #{prname}, #{boardno})
	</insert>
	
	<insert id="insertFile" parameterType="prboard.dto.UpFile">
		<selectKey order="BEFORE" resultType="int" keyProperty="fileno">
			SELECT upfile_seq.nextval FROM dual
		</selectKey>
		INSERT INTO upfile
		VALUES ( #{fileno}, #{originname }, #{storedname }, #{filesize }, #{boardno} )
	</insert>
	
	<update id="updateWritePrDate"
		 parameterType="int">
		UPDATE user_table SET prwritedate = TO_CHAR(SYSDATE, 'YYYY.MM.DD HH24:MI:SS')
		WHERE 1=1
			AND userno = #{userNo}
	</update>
	
	<select id="selectWriteDate" resultType="String" parameterType="int">
		SELECT prwritedate FROM user_table
		WHERE userno = #{userNo}
	</select>
	
	<select id="selectTimePass" resultType="int" parameterType="String">
		SELECT (TRUNC(SYSDATE, 'MI')-TO_DATE(#{value},'YYYY.MM.DD HH24:MI:SS')) * 1440 as time FROM DUAL
	</select>
	
	<select id="selectCntAll" resultType="int" parameterType="Map">
		SELECT count(*) FROM board B, prtype P, user_table U
		WHERE B.boardno = P.boardno
		AND B.userno = U.userno
		AND postno = 2
		 <if test="searchType != null and searchType != '' and search != null and search != ''">
   			 AND ${searchType} LIKE '%'||#{search}||'%'
 		 </if>
	</select>
	
	<select id="selectAll" resultMap="PRBoard" parameterType="util.PRPaging">
		SELECT * FROM (
		   SELECT rownum rnum, B.* FROM (
		       SELECT
		            BO.boardno, BO.title, BO.writtendate, BO.contents,
		           BO.views, BO.userno, BO.postno, P.prname, U.usernick, (SELECT COUNT(*) FROM blike WHERE BO.boardno = boardno) AS blike
		       FROM board BO, prtype P, user_table U
               WHERE BO.boardno = P.boardno
               AND BO.userno = U.userno
               AND BO.postno = 2
          <if test="!search2.isEmpty() and search2.searthType != null, search2.search != null">
   			 AND ${search2.searchType} LIKE '%'||#{search2.search}||'%'
 		 </if>
              ORDER BY boardno DESC
		    ) B
		    ORDER BY rnum
		 ) BOARD
		 WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id="selectViewInfo" resultMap="PRBoard" parameterType="int">
		SELECT 
             B.boardno, B.title, B.writtendate, B.contents,
            B.views, B.userno, B.postno, P.prname, U.usernick
        FROM board B, prtype P, user_table U
		WHERE B.boardno = P.boardno
		AND B.userno = U.userno
		AND postno = 2
			AND B.boardno = #{value}
	</select>
	
	<update id="hit"
	 parameterType="int">
		UPDATE board set views = views +1 
		WHERE 1=1
			AND boardno = #{value }
	</update>
	
	<select id="selectFileList" resultType="prboard.dto.UpFile" parameterType="int">
		SELECT fileno, originname, storedname, filesize, boardno FROM upfile
		WHERE boardno = ${value}
		ORDER BY fileno
	</select>
	
	<select id="selectFileByFileno" resultType="prboard.dto.UpFile" parameterType="int">
		SELECT fileno, originname, storedname, filesize, boardno FROM upfile
		WHERE fileno = #{fileno}
	</select>
	
	<update id="updatePR"
	 parameterType="prboard.dto.PRBoard">
		UPDATE board set title = #{title}, contents = #{content}
		WHERE 1=1
			AND boardno = #{boardno}
	</update>
	
	<update id="updatePRType"
	 parameterType="prboard.dto.PRBoard">
		UPDATE prtype set prname = #{prname}
		WHERE 1=1
			AND boardno = #{boardno}
	</update>
	
	<delete id="deleteFile"
	 parameterType="int">
		DELETE upfile
		WHERE 1=1
			AND boardno = #{boardno }
	</delete>
	
	<delete id="deletePR"
	 parameterType="prboard.dto.PRBoard">
		DELETE board
		WHERE 1=1
			AND boardno = #{boardno }
	</delete>

	<delete id="deletePRType"
	 parameterType="prboard.dto.PRBoard">
		DELETE prtype
		WHERE 1=1
			AND boardno = #{boardno }
	</delete>
	
	<select id="selectUserNoToLike"
    	parameterType="String" resultType="prboard.dto.PRBoard">
	    SELECT userno FROM user_table
	    WHERE 1=1
	   	AND usernick = #{usernick}
	 </select>
	
	<select id="selectRecommend" resultType="int" parameterType="prboard.dto.PRBoard">
		SELECT count(*) FROM blike
		WHERE userno = #{userno}
		AND boardno = #{boardno }
	</select>
	
	<insert id="insertRecommend"
	 parameterType="prboard.dto.PRBoard">
		
		INSERT INTO blike 
		VALUES(blike_seq.nextval, #{userno}, #{boardno})
	</insert>
	
	<delete id="deleteRecommend"
	 parameterType="prboard.dto.PRBoard">
		DELETE blike
		WHERE 1=1
			AND userno = #{userno}
			AND boardno = #{boardno }
	</delete>
	
	<select id="selectrecommendView" resultType="int" parameterType="prboard.dto.PRBoard">
		SELECT COUNT(*) FROM blike 
		WHERE boardno = #{boardno}
	</select>
	
	<delete id="deleteBlike"
	 parameterType="prboard.dto.PRBoard">
		DELETE blike
		WHERE 1=1
			AND boardno = #{boardno }
	</delete>
	
	<select id="selectUserNoToReply"
    	parameterType="String" resultType="prboard.dto.Reply">
	    SELECT userno FROM user_table
	    WHERE 1=1
	   	AND usernick = #{usernick}
	 </select>
	 
	<select id="selectReplyList" resultType="prboard.dto.Reply" parameterType="prboard.dto.Reply">
		select R.*, U.usernick from reply R, user_table U
		WHERE R.userno = U.userno
		AND boardno = #{boardno}
		ORDER BY replyno DESC
	</select>
	
	<delete id="deleteReplyToBoard"
	 parameterType="prboard.dto.PRBoard">
		DELETE reply
		WHERE 1=1
			AND boardno = #{boardno }
	</delete>
</mapper>